/* Defaults */
*{
    padding: 0;
    margin: 0;
    box-sizing: 0;
    font-family: 'Montserrat', sans-serif;
}
:root{
    --success-color:#2ecc71;
    --error-color:#cf3131;
}
body{
    background-image: url("https://images.pexels.com/photos/1229861/pexels-photo-1229861.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1") ;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    scroll-behavior: smooth;
    
}
a{
    text-decoration: none;
} 
main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Navigation Styling */
nav{
    background-color: #0a1628;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
    padding: 20px 24px 10px 24px;
    margin-bottom: 3rem;
}
.nav-ul{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    list-style-type: none;
}
.nav-ul li a{
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 0 20px;
}
i{
    font-size: 1.8rem;
    padding-right: 2px;
}
.nav-branding{
    color: #fff;
    font-size: 2rem;
}
.nav-link{
    color: #fff;
    transition: 0.7s ease;
}
.nav-link:hover{
    color: dodgerblue;
}
.hamburger{
    background-color: transparent;
    border: 0;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.hamburger:focus{
    outline: none;
}


/* Form Styling */
form{ 
    z-index: 1;
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5);
    border-radius: 15px;
    border-top: 1px solid rgba(255, 255, 255, 0.5);
    border-left: 1px solid rgba(255, 255, 255, 0.5);
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(5px);
    overflow: hidden;
}
.input-control input:focus{
    outline: 0;
}
.sign-in{
    color: #fff;
    margin-top: 15px;
}
form i{
    color: #0a1628;
    font-size: 24px;
}
.input-group-append .input-group-text{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

/* Footer Styling */
footer {
    background-color: #0a1628;
    height: 15vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
}
input{
    border-left: none;
}
.input-group-text{
    background-color: #fff;
    border-color: #fff;
}
footer p{
    text-align: center;
    margin-bottom: 0;
    
}
.foot{
    display: flex;
    gap: 30px;
}
.foot p{
    color: #fff;
    margin-bottom: 0
}
.foot-item{
    text-align: center;
    
}
.copyrights{
    opacity: 0.6;
}
#togglePassword{
    cursor: pointer;
}


/* Media Queries */
@media(max-width:768px){
    .nav-ul{
        display: none;
    }
    .nav-ul li a{
        padding: 20px 0;
    }
    ul{
        margin: 0;
    }
    .nav-ul.show{
        display: flex;
        width: 100%;
        flex-direction: column;
    }
    .hamburger{
        display: block;
    }
    form{
        width: 90vw;
    }
    
    footer{
        background-color: #0a1628;
        height: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 15px;
    }
    .foot{
        display: flex;
        justify-content: space-between;
    }
    footer p{
        text-align: center;
       margin-bottom: 15px;
    }
    .foot-item{
        text-align: center;
        margin-left: 0;
    }
}